DEBUG
*.code-workspace
LINEMOD/
__pycache__/
*.weights
JPEGImages/*
depth/
.idea/
intrinsics.json
!JPEGImages/13.jpg
cmake-build-debug/
common/
third-party/
*.so*
depth_intrinsics.json
extrinsics.json
.vscode/